.Category-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 44px;
    margin: 3px 0;
    border-radius: 6px;
    background-color: lightsteelblue;
    /*border: 1px solid #303f9f;*/
    cursor: pointer;
    outline: none;
}
.Category-item:hover,
.Category-item:focus {
    background-color: #ffffff;
}
.Category-item .Icon-button {
    visibility: hidden;
}
.Category-item--active,
.Category-item--active:hover,
.Category-item--active:focus {
    background-color: #cccccc;
}
.Category-item--with-child {
    padding-left: 7px;
}
.Category-item__left,
.Category-item__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Category-item__right {
    margin-left: auto;
    justify-content: flex-end;
}
.Category-item__name-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Category-item__name {
    font-weight: 500;
    font-size: 16px;
    margin: 0 10px;
}
